<h1>Login</h1>

<form>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="username">
</form>

<a href="/register"><strong> Sign UP </strong></a>
<a href="/login"><strong> Log In </strong></a>
<a href="/logout"><strong> Log Out </strong></a>