<h1>This is the secret page</h1>

<h3>My secret is that: </h3>

<h4>I have a dream!</h4>

<img src="http://fallinpets.com/wp-content/uploads/2016/11/So-adorable-newfie-puppy-480x445.jpg">

<a href="/register"><strong> Sign UP </strong></a>
<a href="/login"><strong> Log In </strong></a>
<a href="/logout"><strong> Log Out </strong></a>